# MongoDB (Event DB - Lưu sự kiện, rule, incident)
MONGO_INITDB_ROOT_USERNAME=admin
MONGO_INITDB_ROOT_PASSWORD=123456
MONGO_DB=ics_guard
MONGO_PORT=27018
MONGO_URI=mongodb://admin:123456@localhost:27018/ics_guard?authSource=admin

# InfluxDB (Time-series DB - Lưu telemetry)
INFLUXDB_ADMIN_USER=admin
INFLUXDB_ADMIN_PASSWORD=adminpassword
INFLUXDB_DB=ics_telemetry
INFLUXDB_URL=http://admin:adminpassword@localhost:8086

# RabbitMQ (Message Queue)
RABBITMQ_DEFAULT_USER=guest
RABBITMQ_DEFAULT_PASS=guest
RABBITMQ_URL=amqp://guest:guest@localhost:5672/

# MQTT Broker (Mosquitto)
MQTT_PORT=8883
MQTT_TLS_PORT=8883
MQTT_URL=mqtt://localhost:1883

# Backend API
BACKEND_PORT=8000
JWT_SECRET=your_jwt_secret_key_here
JWT_ALGORITHM=HS256
ACCESS_TOKEN_EXPIRE_MINUTES=30

# CORS Allowed Origins
ALLOWED_ORIGINS=http://localhost:3000

# Frontend
FRONTEND_PORT=3000
VITE_API_URL=/api
FRONTEND_URL=http://localhost:3000
VITE_PROXY_TARGET=http://127.0.0.1:8000

# Telegram Bot (Cảnh báo đa kênh)
TELEGRAM_BOT_TOKEN=your_telegram_bot_token
TELEGRAM_CHAT_ID=your_chat_id

# Key google
VITE_GOOGLE_CLIENT_ID=""
VITE_GOOGLE_GSI_CLIENT_URL=""

# Key genmini
VITE_GEMINI_API_KEY=""