# OS
.DS_Store
Thumbs.db

# Environment
.env
.env.local
.venv
venv/
ENV/
run.txt

# Node
node_modules/
npm-debug.log
yarn-error.log

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.pytest_cache/

# Build & Logs
build/
dist/
*.log
logs/

# IDEs
.idea/
.vscode/
*.swp
*.swo

# Docker
docker-compose.override.yml

# Swagger autogen
swagger-output.json
