.v-no-data {
  display: flex;
  flex: 1;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 5.7143rem 1.4286rem;
  width: 100%;
  min-height: 28.5714rem;
  background: transparent;

  .no-data-icon-wrapper {
    margin-bottom: 1.7143rem;
    background: var(--slate-50);
    padding: 2rem;
    border-radius: 50%;
    border: 0.0714rem solid var(--slate-200);
    box-shadow: 0 0.2857rem 0.4286rem -0.0714rem rgba(0, 0, 0, 0.02);
    
    .no-data-icon {
      color: var(--slate-400); /* xám nhạt */
      stroke-width: 1.5;
    }
  }

  .no-data-text {
    color: var(--slate-500); /* slate-500 */
    font-size: 1.1429rem;
    font-weight: 500;
  }
}
