# ==========================================
# ICS-Guard Environment Variables Example
# ==========================================

# MongoDB (Event DB - Lưu sự kiện, rule, incident)
MONGO_INITDB_ROOT_USERNAME=admin
MONGO_INITDB_ROOT_PASSWORD=adminpassword
MONGO_DB=ics_guard
MONGO_PORT=27017
MONGO_URI=mongodb://admin:123456@localhost:27017/

# InfluxDB (Time-series DB - Lưu telemetry)
INFLUXDB_ADMIN_USER=admin
INFLUXDB_ADMIN_PASSWORD=adminpassword
INFLUXDB_DB=ics_telemetry

# RabbitMQ (Message Queue)
RABBITMQ_DEFAULT_USER=guest
RABBITMQ_DEFAULT_PASS=guest

# MQTT Broker (Mosquitto)
MQTT_PORT=8883
MQTT_TLS_PORT=8883

# Backend API
BACKEND_PORT=8000
JWT_SECRET=your_jwt_secret_key_here
JWT_ALGORITHM=HS256
ACCESS_TOKEN_EXPIRE_MINUTES=30

# Frontend
FRONTEND_PORT=3000
VITE_API_URL=http://localhost:8000/api
FRONTEND_URL=http://localhost:3000

# Telegram Bot (Cảnh báo đa kênh)
TELEGRAM_BOT_TOKEN=your_telegram_bot_token
TELEGRAM_CHAT_ID=your_chat_id

# AI Engine
AI_MODEL_NAME=
OLLAMA_URL=


VITE_GOOGLE_CLIENT_ID=""
VITE_GOOGLE_GSI_CLIENT_URL=""

VITE_GEMINI_API_KEY=""